// main: style.scss


.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-radius:0;

     &.alert-info {
        color: #000;
        background-color: $sea-40;
        border-left:10px solid $sea-80;
    }


    &.alert-danger {
        color: #000;
        background-color: #fee3e3;
        border-left:10px solid $red;
    }


    &.alert-warning {
        color: #000;
        background-color: #ffe9d6;
        border-left:10px solid $orange;
    }
}
