// main: style.scss


.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-radius:0;

     &.alert-info {
        color: $sea-80;//bbb
        background-color: $sea-40;
        border-left:10px solid $sea-80;
    }


    &.alert-danger {
        color: $red;
        background-color: #FFF6F6;
        border-left:10px solid $red;
    }


    &.alert-warning {
        color: $orange;
        background-color: #fff6ee;
        border-left:10px solid $orange;
    }
}
