// main: style.scss


.card {
  border:0;
  border-radius: 0;
  background: $grey-200;

  &.light {
    background: $sea-20;
  }

  &.contactinfo {
    margin-bottom: 20px;

    .card-body {
      >div {
        padding-left: 25px;
        position: relative;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        i {
          position: absolute;
          left: 0;
          top:5px;
          color: $sea-80;
        }

      }

      h3 {
        font-size: 1rem;
      }


    }

  }


  &.empty {
    text-align: center;
    border:2px dashed $sea-80;
    opacity: 0.5;
  }

  &.no-data {
    text-align: center;
    border:2px dashed $orange;
    color: $orange;
  }

  .form-data {
    font-weight: bold;
    label {
      display: block;
      margin-top:15px;
      font-weight: normal;
    }
  }


}

//Recipes list

.listitem {
  text-decoration: none;//kkkk
  color:#000;
&:hover {
    color:#000;
    text-decoration: none;
-webkit-box-shadow: 3px 3px 10px 1px  rgba(0,0,0,0.15);
-moz-box-shadow: 3px 3px 10px 1px  rgba(0,0,0,0.15);
box-shadow: 3px 3px 10px 1px  rgba(0,0,0,0.15);
transform: translate(-3px,-3px);
    display: block;
}

h3 {
    text-decoration: underline;
    color:$sea-80;
}


}

.recipe-id {
  padding: 1px 5px;
  background: $sea-60;
  color: #000;
  font-weight: 400;
  display: inline-block;
}
.recipe-dates {
  color:#000;
}

h3 {

font-size: 1.2rem;
color: #000;

  span {
    font-weight: normal;
  }
}

.recipe-prescribers {
  color:#000;
}


//Recipe data

.content {
  h4 {
    font-size: 1rem;
    text-transform: uppercase;
  }




.card-row {
  margin-bottom: 1rem;

&:last-child {
  margin-bottom: 0;
}

  label {
    font-size: 0.8rem; 
  }
  
  .card-data {
      font-weight: 600;
  }
  
  
}

}


.card {
    
     margin-bottom: 1rem;

  &.recipe {
    border-top:10px solid #73CCEA;
  }
  
    .accordion-button {
      padding: 0;
      box-shadow: none;
      text-transform: none;
  }
  
  .accordion-body {
       padding: 0;
  }
  
  table {
      background: #fff;
      font-size: 0.9rem;
  }
}



.card-url {
  text-decoration: none;
  display: block;
  color:#000;

  &:hover {
    opacity: 0.7;
    text-decoration: none;
  display: block;
  color:#000;
  }
  .card {
      margin-bottom: 15px;

    .code {
      background: #fff;
      display: inline-block;
      padding: 0 5px;
      margin-right: 10px;
      color: #000;
    }

    .date {
      color: #000;
        display: inline-block;
        padding: 0 5px;
        margin-right: 10px
    }

    .title {
      font-weight: bold;
      padding-top: 5px;
      color: #000;
    }
  }

  &:last-child {
    .card {
    margin-bottom: 0;
  }
  }


}
