// main: style.scss


.card {
  border:0;
  border-radius: 0;

  &.light {
    background: $sea-20;
  }

  &.contactinfo {
    margin-bottom: 20px;

    .card-body {
      >div {
        padding-left: 25px;
        position: relative;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        i {
          position: absolute;
          left: 0;
          top:5px;
          color: $sea-80;
        }

      }

      h3 {
        font-size: 1rem;
      }


    }

  }


  &.empty {
    text-align: center;
    border:2px dashed $sea-80;
    opacity: 0.5;
  }

  &.no-data {
    text-align: center;
    border:2px dashed $orange;
    color: $orange;
  }

  .form-data {
    font-weight: bold;
    label {
      display: block;
      margin-top:15px; 
      font-weight: normal;
    }
  }


}

//Recipes list

.listitem {
  text-decoration: none;
&:hover {
  .card {
    background: $sea-20;

  }
}
}

.recipe-id {
  padding: 1px 5px;
  background: $sea-60;
  margin-right: 20px;
  color: #000;
}
.recipe-dates {
  color: $sea-80;
  i {
    color: $sea-80;
  }
}

h3 {

font-size: 1.2rem;
color: #000;

  span {
    font-weight: normal;
  }
}

.recipe-prescribers {
  color:#000;
}


//Recipe data

.content {
  h4 {
    font-weight: normal;
    font-size: 1rem;
    text-transform: uppercase;
  }

.card {
  margin-bottom: 1rem;

  &.recipe {
    border-top:10px solid #73CCEA;
  }

.card-row {
  margin-bottom: 1rem;

&:last-child {
  margin-bottom: 0;
}

  label {
    font-size: 0.9rem;
    color:$grey-400;
  }
}


}

}



.card-url {
  text-decoration: none;
  display: block;

  &:hover {
    opacity: 0.7
  }
  .card {
      margin-bottom: 15px;

    .code {
      background: $sea-60;
      display: inline-block;
      padding: 0 5px;
      margin-right: 10px;
      color: #000;
    }

    .date {
      color: $sea-80;
        display: inline-block;
        padding: 0 5px;
        margin-right: 10px
    }

    .title {
      font-weight: bold;
      padding-top: 5px;
      color: #000;
    }
  }

  &:last-child {
    .card {
    margin-bottom: 0;
  }
  }


}
