// main: style.scss
$grey-500: #333333;
$grey-400: #9e9e9e;
$grey-300: #cccccc;
$grey-200: #f2f3f2;
$grey-100: #f9f9f9;
$grey: #eaeaea;
$sea-100: #236576;
$sea-80: #2E8DAC;
$sea-60: #CEE4E8;
$sea-40: #E7F2F4;
$sea-20: #F5FAFA;
$white: #ffffff;
$black: #000000;
//$blue: #2E8DAC;
$green: #91B719;
$pink: #FF01C7;
//$red: #C70606;
//$orange: #FF8A00;

.sea-100 {
  color: $sea-100;
}

.sea-100-border {
  border-color: $sea-100 !important;
}

.sea-100-bg {
  background: $sea-100 !important;
  color: $white;
}

.sea-80 {
  color: $sea-80;
}

.sea-80-border {
  border-color: $sea-80 !important;
}

.sea-80-bg {
  background: $sea-80 !important;
  color: $white;
}

.sea-60 {
  color: $sea-60;
}

.sea-60-border {
  border-color: $sea-60 !important;
}

.sea-60-bg {
  background: $sea-60 !important;
  color: $black;
}

.sea-40 {
  color: $sea-40;
}

.sea-40-border {
  border-color: $sea-40 !important;
}

.sea-40-bg {
  background: $sea-40 !important;
  color: $black;
}

.sea-20 {
  color: $sea-20;
}

.sea-20-border {
  border-color: $sea-20 !important;
}

.sea-20-bg {
  background: $sea-20 !important;
  color: $black;
}

//redef



$primary: $sea-80;
$secondary: $sea-60;
$success: #91B719;
$danger: #C70606;
$warning: #FF8A00;
//$info: $blue;
//$light: $grey;
//$dark: $grey-500;
//$success-text: #fff;


$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  //info: $info,
  warning: $warning,
  danger: $danger,
  //light: $light,
  //dark: $dark,
  // add any additional color below
);
