// main: style.scss

table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_desc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:before {
  bottom: 50%;
  transform: translateY(40%);
}

.dataTables_filter {
  .form-control-sm {
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

.dataTables_length {
  .form-select-sm {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

.saved-reports {
  .dataTables_wrapper {
    > .row:first-child {
      display: block;
    }
  }
}