// main: style.scss

.form-select, input[type=text], input[type=number]{
    background-color: $form-fields-bg;
    &.form-control-plaintext {
        background-color: transparent;
    }
}

.minilist-search {
    
    input {
        padding-right: 30px;
        border-radius: 0.15rem !important;
    }
    
    .btn {
        margin-left: -30px !important;
        z-index: 9;
    }
}
