// main: style.scss

body {
  font-family: $font;
  background: #fff;
  height: 100%;

  .content-holder {
    min-height: 100%;
    padding-bottom: 80px;
  }

  footer {
    background: #fff;
    margin-top: -60px;
    height: 60px;
  }
}