// main: style.scss

nav {


    &.navbar {
        padding: 0;
    }

    .home {
        padding: 15px ;
        border-right: 1px solid $sea-80;
        display: flex;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
        width:50px;
        background: $grey-200;
        
        &.active {
             background: $sea-80;
             color:#fff;
        }
    }

    button {
        color: $sea-80;

        flex-grow: 1;
        border:0;
        border-radius: 0;

        &.navbar-toggler {
            background: $grey-200;
            &:focus {
                border:0;
                box-shadow: none;
            }
        }
        i {
            margin-left: 15px;
        }
    }


    .navbar-collapse{
        background: #fff;

        @media(min-width:1024px){
            background: $grey-200;
        }

        ul {
            margin: 0;
        }

        &.show {
            -webkit-box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.48);
            box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.48);
        }

        &.collapsing, &.show {
            position: absolute;
            z-index: 9;
            top: 45px;
            left: 0;
            right: 0;
        }


    }


    ul {
        //list-style: none;
        // margin: 0;
        // padding: 0;
        display: flex;
        flex-direction: row;
        flex-grow: 1;


        li {
            align-items: center;
            display: flex;
            flex-grow: 1;
            justify-content: center;

            @media(max-width:1023px){
                border-bottom: 1px solid $grey-300;
            }

            a {
                padding: 10px 20px;

                align-items: center;
                display: flex;
                flex-grow: 1;

                height: 100%;
                position: relative;
                text-decoration: none;
                color: $grey-500;
                @media(min-width:1024px){
                    border-bottom: 4px solid $sea-80;
                    justify-content: center;
                    text-align: center
                }
                @media(max-width:1023px){
                    border-left: 4px solid $sea-80;

                }

                > span {
                    span {
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: block;
                        width: auto;
                        font-size: 0.7rem;
                        padding: 1px 5px;
                        background: $sea-80;
                        color: #fff;
                        font-weight: normal;
                    }
                }

                small {
                    display: block;
                    font-weight: normal;
                }
            }

            &.main {
                a {
                    font-weight: bold;

                    @media(min-width:1024px){
                        border-bottom: 4px solid $green;
                    }
                    @media(max-width:1023px){
                        border-left: 4px solid $green;
                    }

                    > span {
                        span {
                            background: $green;
                        }
                    }
                }
            }

            &.second {
                display: block;
                ul {
                    padding: 0;
                    border:0;
                    margin: 0;
                    
                    li {
                        border-bottom:1px solid $grey-300;
                    }
                    a {
                        border-left: 4px solid $sea-80;
                        padding: 10px 20px;
                    }

                    @media(min-width:1024px){
                        &.show {
                            -webkit-box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.48);
                            box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.48);
                           
                        }
                    }
                    
                    @media(max-width:1023px){
                        &.show {
                           
                            margin: 0;
                            border-top:1px solid $grey-300;
                            font-size: 12px;
                            
                            a {
                                padding-left: 30px;
                            }
                        }
                    }


                }
            }

            &.no-data {
                * {
                    cursor: not-allowed;
                }

                a {
                    color: $grey-400;

                    > span {
                        span {
                            background: $grey-400;
                        }
                    }
                }
            }

            &.active {
                a {
                    background: $sea-80;
                    color:#fff;

                    > span {
                        span {
                            background: $sea-100;
                        }
                    }

                }
            }



        }
    }
}
