// main: style.scss

.section {
  margin-bottom: 29px;
  
  h4 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px; 
    a {

     
      
      display: inline-block;
      text-decoration: undeline;
      
      i {
        font-size: 18px;
        width:30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: block;

      }
    }
  }
  
  
 


}
