// main: style.scss

table.table-cb {
  background: #fff;
  thead {
    border-bottom:1px solid $sea-60;
    background: $sea-40;
    th {
      border:0;
      padding: 15px;
    }
  }

  td {
    padding: 15px;

    &.kods {
      span {
        background: $sea-60;
        display: inline-block;
        padding: 0 5px;
        margin-right: 10px;
        color: #000;
      }
    }


  }

tbody {
  tr:hover {
    --bs-table-accent-bg:none;
    td {
       background: $sea-20;
    }

  }
}

.nested {
  background: #fff;
  &:hover {
    background: inherit;
  }


.table-nested {
  background: #fff;
  border:1px solid $sea-60;
}



}


}
