// main: style.scss

table.table-cb {
  background: #fff;
  font-size: 0.9rem;

  thead {
    border-bottom: 1px solid $sea-60;
    background: $sea-40;

    th {
      border: 0;
      padding: 15px;
      border-bottom: 1px solid $sea-60 !important;
      background: $sea-40;
    }
  }

  td {
    padding: 10px 15px;
    line-height: 28px;
    font-size: 0.9rem;
    vertical-align: middle;
    
    span {
        line-height: normal;
        &.code {
        background: $sea-60;
        padding: 0 5px;
        margin-right: 10px;
        color: #000;
        font-size: 0.9rem;
      }
    }

   

    .btn {
      i {
        margin-left: 5px;
      }

      .close {
        display: none;
      }
    }

    .btn[aria-expanded="true"] {
      .open {
        display: none;
      }

      .close {
        display: inline;
      }

      i {
        transform: rotate(180deg);
      }
    }

    ul {
      margin: 0;

      li {
        line-height: 20px;
        font-size: 0.8rem;
      }
    }
  }

  tbody {
    tr:hover {
      --bs-table-accent-bg: none;

      td {
        background: $sea-20;
      }
    }
  }

  .nested {
    background: #fff;

    &:hover {
      background: inherit;
    }

    .title {
      font-weight: bold;
    }

    .table-nested {
      margin-top: 10px;
      background: #fff;
      border: 1px solid $sea-60;
      font-size: 0.9rem;
    }
  }
}


@media(max-width: 768px) {
    
    table.table-cb {
       tr {
        display: block;
        border-left:1px solid $grey-300;
        border-right:1px solid $grey-300;
        border-top:1px solid $grey-300;
        margin-bottom: 15px;
    }
    thead {
        display: none;
    }

    td, th {
        display: block;
        padding: 7px 15px; 
        position: relative; //nnnnnnnnnnnnnnnn
    }

    td[data-th]:before  {
        content: attr(data-th);
        width:50%;
        display: block;
        line-height: normal;
        font-size: 11px;
        margin-bottom: 5px;
        font-style: italic;
    }
    }
    
}